@import "/home/doppel/.config/waybar/gruvbox.css";

* {
  font-family : BigBlueTerm Nerd Font;
  font-size : 12px;
  min-height : 0;
}

#window {
    border-radius : 0;
    border : 3px solid @foreground;
    background-color : @background;
}

#input {
    border-radius : 0;
    border-bottom : 1px;
    background-color : @background;
    padding: 10px 10px;
}
