@import "/home/doppel/.config/waybar/gruvbox.css";

* {
  font-family : BigBlueTerm Nerd Font;
  font-size : 12px;
  font-weight : bold;
  min-height : 0;
}

#waybar {
  background : transparent;
  color: @foreground;
}

#workspaces button {
  background-color : @background2;
  border-radius : 0;
  border-bottom : 3px solid transparent;
}

#workspaces button:not(.empty) {
  border-bottom: 3px solid @foreground;
}

#workspaces button.focused {
  border-bottom : 3px solid @red;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#network,
#cpu,
#memory,
#custom-power {
  background-color: @background2;
  color: @foreground;
  padding : 5px 5px;
  margin : 0
}

#clock {
  color: @foreground;
  border-bottom : 3px solid @foreground;
  font-weight : normal;
}

#battery {
   color : @green;
   border-bottom : 3px solid @green;
}

#battery.charging {
    color : @yellow;
    border-bottom : 3px solid @yellow;
}

#battery.warning:not(.charging) {
  color : @red;
  border-bottom : 3px solid @red;
}

#network {
    color : @blue;
}

#backlight {
    color : @foreground;
}

#pulseaudio {
    color : @foreground;
}

#cpu {
    color : @purple;
}

#memory {
    color : @purple;
}

#custom-music {
}

#custom-lock {
}

#custom-power {
}

#tray {
}
